.gpm-header {
	color: black;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
}

.gpm-title {
	padding-right: 32px;
}

.gpm-logo {
	height: 50px;
	width: 50px;
}